.rounded-corners {
  padding: 1rem 0 1rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 0.5px solid #ddd;
  display: flex;
}
.box {
  height: 32px;
  width: 32px;
}
.border {
  border-right: 1px solid #e1e5e7;
}
body {
  margin: 0 auto 0 auto;
  padding: 0;
  max-width: 780px;
  min-width: 320px;
}
header {
  background: #5fc0cd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  top: 0;
  position: fixed;
  max-width: 780px;
  min-width: 320px;
  width: 100%;
}
header img {
  margin-left: 5px;
  cursor: pointer;
}
header span {
  color: #f8f8f8;
  line-height: 200%;
}
header .box {
  margin-right: 5px;
}
.box-s {
  height: 50px;
}
main .content {
  background-image: url("img-12/doctor.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 230px;
  display: flex;
  align-items: center;
}
main .content .user {
  margin-left: 20px;
}
main .content .photo-text {
  margin-left: 20px;
  color: #f8f8f8;
}
main .content .photo-text .name-size {
  font-size: 1.2rem;
}
main .content .photo-text .location {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
main .content .photo-text .location span {
  margin-left: 10px;
  font-size: 14px;
}
main .major {
  padding: 1rem 0 1rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 0.5px solid #ddd;
}
main .major .major-text {
  border-left: 3px solid #5fc0cd;
  margin-left: 15px;
  padding-left: 15px;
  color: #333;
  font-weight: bold;
  font-size: 1.1rem;
}
main .condition {
  padding: 1rem 0 1rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 0.5px solid #ddd;
  display: flex;
}
main .condition .home {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
main .condition .home img {
  margin-right: 2px;
}
main .condition .home span {
  margin-left: 2px;
  border-right: 1px solid #e1e5e7;
  padding-right: 10px;
}
main .condition .catering {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
main .condition .catering img {
  margin-right: 2px;
}
main .condition .catering span {
  margin-left: 2px;
}
main .age-limit {
  padding: 1rem 0 1rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 0.5px solid #ddd;
  display: flex;
}
main .age-limit .limit {
  margin-left: 30px;
  color: #999;
  padding-right: 12px;
  border-right: 1px solid #e1e5e7;
}
main .age-limit .age {
  padding-left: 12px;
  color: #333;
}
main .age-limit .man-hour {
  padding-left: 12px;
  color: #e26163;
  font-size: 1.1rem;
}
main .self-introduction {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
main .self-introduction span {
  margin: 1rem 0 1rem 30px;
  padding-right: 10px;
  white-space: nowrap;
  color: #999;
  border-right: 1px solid #e1e5e7;
}
main .self-introduction p {
  margin: 0;
  padding: 1rem 1rem 1rem 10px;
  color: #333;
}
footer .foot {
  position: fixed;
  bottom: 0;
  max-width: 780px;
  min-width: 320px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0 10px 0;
  background: #fff;
}
footer .foot .leave-word {
  width: 35%;
  text-align: center;
  padding: 1rem;
  border: 1px solid #5fc0cd;
  background: #fff;
  border-radius: 10px;
  color: #5fc0cd;
  cursor: pointer;
}
footer .foot .telephone-connection {
  width: 35%;
  text-align: center;
  padding: 1rem;
  border: 1px solid #5fc0cd;
  border-radius: 10px;
  background: #5fc0cd;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #f8f8f8;
}
/*# sourceMappingURL=task12.css.map */