html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}
.head {
    width: 100%;
    height: 60px;
    background: #29bde0;
}
.go-one{
    margin: 30px 30px 30px 30px;
    background: #fff;
    font-size: 1.3rem;
    height: 60px;
    text-align: center;
    line-height: 300%;
    color: #b3b3b3;
    background-image: url("image/task-7-3.png");
    background-repeat: no-repeat;
    background-position: 98%;
}
.ghost{
    margin-left: 30px;
    margin-right:30px;
    background: #fff;
    line-height: 300%;
    height: 55px;
    text-align: center;
    font-size: 1.3rem;
    color: #fbb435;
    border-bottom: 1.5px solid #fbb435;
}
.versions{
    margin-left: 30px;
    margin-right: 30px;
    height: 65px;
    background: #fff;
    padding-top: 15px;
}
.versions-one{
    margin-left: 45px;
    margin-right: 45px;
    background: #69d1e9;
    text-align: center;
    font-size: 1.1rem;
    height: 50px;
    line-height: 280%;
    color: #fff;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #fff;
}
.user{
     margin-left: 30px;
     margin-right: 30px;
     background: #fff;
     margin-top: 0;
     text-align: center;
     color: #9a9a9a;
     margin-bottom: 0;
 }
.user-one{
    margin-left: 30px;
    margin-right: 30px;
    background: #fff;
    padding-bottom: 15px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    color: #9a9a9a;
}
.versions-z{
    margin-left: 30px;
    margin-right: 30px;
    height: 65px;
    background: #fff;
    padding-top: 20px;
    background-image: url("image/task-7-2.png");
    background-repeat: no-repeat;
    background-position: 100%;
}
.wire-one{
    position: absolute;
    left: 15px;
    top: 25px;
    cursor: pointer;
}
.wire-two{
    position: absolute;
    left: 15px;
    top: 15px;
}
.wire-three{
    position: absolute;
    left: 15px;
    top: 5px;
}
.last-game{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    background: #f0f0f0;
}
.game-one{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 60px;
    background-image: url("image/task-7-3.png");
    background-repeat: no-repeat;
    background-position: 98%;
}
.game-two{
    color: #999999;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
    width: 37rem;
    text-align: center;
    background: #fff;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    background: #fff;
    margin-left: 30px;
    margin-right: 30px;
}
.circle-one{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f0f0f0;
    margin-top: -5px;
}
.circle-two{
     width: 20px;
     height: 20px;
     border-radius: 50%;
     margin-left: 10px;
    background: #f0f0f0;
    margin-top: -5px;
 }
.circle-three{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    background: #f0f0f0;
    margin-top: -5px;
}
.circle-foul{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    background: #f0f0f0;
    margin-top: -5px;
}
.circle-one:hover{
    background: #29bde0;
}
.circle-two:hover{
    background: #29bde0;
}
.circle-three:hover{
    background: #29bde0;
}
.circle-foul:hover{
    background: #29bde0;
}
