html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
.heaD{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #29bde0;
    height: 60px;
}
.Icon{
    padding-left: 15px;
}
.vote{
    font-size: 1.3rem;
    color: #fff;
}
.iOcn{
    margin-right: 15px;
}
.hint{
    height: 60px;
    background: #b9e9f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hint-one{
    margin-left: 30px;
    font-size: 1.1rem;
}
.hint-two{
    margin-right: 15px;
}
audio{
    position: absolute;
    right: 0px;
    top: 63px;
    width: 70px;
    height: 50px;
    opacity: 0;
}
.Triangle{
    background: #29bde0;
    width: 100%;
}
.Triangle-one{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #b9e9f5;
    width: 0px;
    margin-left: 40px;
}
.inform{
    background: #29bde0;
}
.inform-one{
    margin-left: 42px;
    color: #fff;
    font-size: 1rem;
    line-height: 200%;
}
.page{
    padding: 30px 30px 30px 30px;
    background: #29bde0;
    display: flex;
    justify-content: space-around;
}
.people{
    width: 18vw;
    height: 14vw;
    background: #f5c97b;
    font-size: 3vw;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.number {
    width: 18vw;
    height: 5vw;
    background: #83b09a;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    font-size: 2vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control{
    background-image: url("image/img.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 4vw;
    background-size: 100% 100%;
    display: none;
    margin-bottom: -60px;
}
.number:hover+.control{
    display: block;
}
.vote{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vw;
    background: #29bde0;
    border-top: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vote-one{
    width: 65vw;
    background: #fbb435;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vw;
    font-size: 1rem;
}