@background: #29bde0;
@border: #fff;
@background-z: #ffedc5;
html,head{
  height: 100%;
}
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
.max{
  max-width: 780px;
  min-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: @background;
}
header {
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: @border;
    //background: @background;
    font-size: 1.3rem;

    img {
      margin: 0 15px;
      cursor: pointer;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  padding: 3rem 2rem;
  //background: @background;

  .card {
    position: relative;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    background: @background-z;
    width: 50vh;
    height: 70vh;
    border: 5px solid @border;
    border-radius: 8px;
    .circle{
      position: absolute;
      top: -15px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
      background: @border;
      color: #f56b81;
      border: 3px solid @background-z;
    }
    .word-group{
      width: 100%;
      margin: 0 0  -60px 0;
      text-align: center;
      color: #29bde0;
      font-size: 1.4rem;
      font-weight: bold;
    }
    .hint{
      padding: 15px;
      margin: 0;
      border-top: 3px solid #fff;
      color: #fca000;
      font-size: 1.2rem;
    }
  }
}
footer{
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  height: 7vh;
  line-height: 7vh;
  background: @background;
  button{
    width: 50vh;
    height: 4vh;
    border: none;
    outline: none;
    color: #fff;
    background:#fbb435;
    cursor: pointer;
  }
}