html{
    height:100%;
}
body{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1rem;
}

.task211{
    margin-top: 10px;
    margin-left:10px;
}
.task212{
    text-align: center;
    margin-top: 10px;
}
.tet11{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-top: 50px;
}
.task213{
    float: left;
    margin-top: 155px;
    margin-left: 110px;
}
.task214{
    float: right;
    margin-top: 155px;
    margin-right: 110px;
}
.tet12{
    float: left;
    margin-top: 230px;
    margin-left: -87px;
}
.tet13{

    float: right;
    margin-top: 230px;
    margin-right: -80px;
}
.ellipse{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    background: #e26163;
}
.ellipse-one{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: red;
    margin-left: 50px;
}