bady{margin: 0;

}
.box {
      width: 27%;
      height: 24vw;
      margin-left: 16px;
      margin-top: 19px;
      float: left;
       background-color: orange;
}
div{
    border: 0px solid;
    border-radius: 13px;
}