html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
.home-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #29bde0;
    height: 60px;
}
.Icon{
    margin-left: 15px;
    cursor: pointer;
}
.vote{
    font-size: 1.3rem;
    color: #fff;
}
.iOcn{
    margin-right: 15px;
    cursor: pointer;
}
.prompts{
    background: #29bde0;
}
.hint{
    height: 60px;
    background: #b9e9f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hint-one{
    margin-left: 30px;
    font-size: 1.1rem;
}
.hint-two{
    margin-right: 15px;
}
audio{
    position: absolute;
    right: 15px;
    top: 63px;
    width: 90px;
    opacity: 0;
    cursor: pointer;
    transform: rotate(180deg);
}
.Triangle{
    background: #29bde0;
    width: 100%;
}
.Triangle-one{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #b9e9f5;
    width: 0px;
    margin-left: 40px;
}
.inform{
    margin-left: 42px;
    color: #fff;
    font-size: 1rem;
    line-height: 200%;
    height: 40px;
}
.layout{
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 20px 20px;
}
.entirety{
    width: 18vw;
    height: 20vw;
    margin-bottom: 120px;
    margin-top: 15px;
    cursor: pointer;
}
.people{
    height: 12vw;
    background: #f5c97b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
    font-size: 2vw;
}
.number{
    height: 4vw;
    background: #83b09a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    font-size: 1.5vw;
    color: #fff;
}
.control{
    background-image: url("image/img.png");
    background-repeat: no-repeat;
    height: 4vw;
    background-size: 100% 100%;
    display: none;
    margin-top: 2vw;
}
.box:hover+.control{
    display: block;
}
.vote{
    width: 100vw;
    height: 8vw;
    position: fixed;
    bottom: 0;
    background: #29bde0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff;
}
.vote-one{
    width: 60vw;
    text-align: center;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    background: #fbb435;
    cursor: pointer;
    font-size: 2.5vw;
}
a{
    text-decoration: none;
    color: #fff;
}