html{
    width: 100%;
    height: 100%;
}
.body{
    margin: 0;
    padding: 0;
}
.top-text{

}
.Logo{
    margin-left: .2rem;
}
.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #42b683;
    font-size: .9rem
}
@media screen and (max-width: 992px){
    .head{
        display: none;
    }
}

@media screen and (min-width: 992px){
    .text-hidden{
        display: none;
    }
}
.text-hidden{
    text-align: right;
    color: #42b683;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar{
    background: #29b078;
}
.nav-item:hover{
    border-bottom: 3px solid#fff;
    margin-bottom: -8px;
}

.text-color:hover{
    border-bottom: 1px solid #29b078;
}
.nav-item{
    border-bottom: 3px solid #29b078;
    margin-bottom: -8px;
}
.text-color{
    color: #29b078;
}
li{
    list-style: none;
}
.background-main{
    background: #fafafa;
    padding-bottom: 7rem;
}
.content{
    border: 1px solid #ededed;
    height: 35rem;
    box-shadow: 3px 3px 3px  #ededed;
}
.colour{
    border-bottom: 1px solid #e6e6e6;
}
.list{
    display: flex;
    justify-content: center;
}
.enterprise{
    display: flex;
    align-items: center;
    color: #29b078;
}
.circle{
    width: 12px;
    height: 12px;
    border: 1px solid #ff7628;
    border-radius: 50%;
}
.enterprise:hover .circle{
    background: #ff650e;
}
.enterprise:hover .ml-2{
    color: #ff650e;
}
.interval{
    width: 100%;
    height: 2rem;
    display: none;
}
@media screen and (max-width: 768px){
    .interval{
        display: block;
    }
}
.knowledge{
    box-shadow: 3px 3px 3px  #ededed;
}
.potato{
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
}
@media screen and (max-width: 500px){
    .potato{
        flex-direction: column;
        padding-left: 3rem;
    }
}
@media screen and (max-width: 500px){
    .photo{
       justify-content: center;
        display: flex;
    }
}
.photo{
    padding: 1.5rem .5rem .5rem 2.5rem;
}
.text-adjustment{
    padding: 1.5rem 1rem 1rem 1rem;
    font-size: .9rem;
    color: #999999;
}
.overall-text{
    padding: 2rem 1rem 2rem 4rem;
    font-size: .9rem;
    margin-bottom: 0;
    color: #999999;
}
.foot-color{
    background: #29b078;
}
.foot-text{
    color: #fff;
    margin-top: .8rem;
    margin-bottom: .8rem;
}
.foot-Text{
    margin-top: .8rem;
    opacity: 0;
    margin-bottom: .8rem;
}
.foot-TExt{
    margin-top: .8rem;
    margin-bottom: .8rem;
    color: white;
}
.foot-TEXt{
    margin-top: .8rem;
    margin-bottom: 5px;
    color: white;
}
@media screen and (max-width: 768px){
    .foot-Text{
        display: none;
    }
}
.foot-Color{
    background: #29b078;
    border-top: 2px solid #26a26f;
}
.clearing-margin{
    margin-bottom: 0;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
}
.foot-colors:hover{
    border-bottom: 1px solid #fff;
}
.foot-Colors:hover{
    border-bottom: 1px solid #fff;
}
.foot-Colors{
    font-size: 15px;
}