body {
    margin: 0 auto;
    max-width: 780px;
    min-width: 320px; }

header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #68cdd5;
    color: white;
    max-width: 780px;
    min-width: 320px;
    position: fixed;
    top: 0; }
header img {
    margin: 0 20px; }
header span {
    margin: 0 0 0 -20px; }

.box {
    padding-top: 50px; }

main {
    padding-top: 50px; }

.head-box-jue {
    height: 200px;
    background: url("1.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    padding-left: 20px; }
.head-box-jue .box-two {
    padding-left: 20px;
    color: white; }

.main-text-one {
    border-bottom: 1px solid #C6C6C8;
    height: 50px;
    display: flex;
    align-items: center; }
.main-text-one span {
    border-left: 1.5px solid #68cdd5;
    margin-left: 13px;
    padding-left: 12px; }

.main-text-two {
    border-bottom: 1px solid #C6C6C8;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 20px; }
.main-text-two span {
    border-right: 1px solid #C6C6C8;
    padding-right: 10px;
    margin-left: 5px; }

.main-text-three {
    height: 50px;
    border-bottom: 1px solid #C6C6C8;
    display: flex;
    align-items: center;
    margin-left: 20px; }
.main-text-three .text-three {
    height: 25px;
    border-left: 1px solid #C6C6C8;
    margin-left: 10px; }
.main-text-three .text-t {
    color: #fe6712; }
.main-text-three a {
    color: #C6C6C8; }
.main-text-three span {
    margin: 0 -10px 0 20px; }

.main-text-four {
    border-bottom: 1px solid #C6C6C8;
    display: flex;
    align-items: center;
    margin-left: 20px;
    min-height: 50px; }
.main-text-four .cui_five {
    min-width: 74px;
    border-right: 1px solid #C6C6C8;
    margin-right: 17px;
    height: 30px;
    line-height: 30px;
    color: #C6C6C8; }

footer {
    padding-top: 40px;
    width: 100%; }
footer .footer-box {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    max-width: 780px;
    min-width: 320px;
    background-color: white; }
footer .footer-p {
    border: 1px solid #68cdd5;
    height: 47px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #68cdd5; }
footer .footer-o {
    height: 47px;
    width: 50%;
    background-color: #68cdd5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    justify-content: center;
    color: white; }
