html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: #fafafa;
}
.Head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}
.serve{
    color: #42b683;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3em;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 1.6%;
}
.Logo{
   margin-right: .2rem;
    margin-left: .2rem;
}
.register{
    display: flex;
    justify-content: flex-end;
    color: #42b683;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media screen and (max-width: 992px){
    .Head{
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .register {
        display: none;
    }
}
.navbar{
    background: #29b078;
}
.nav-item:hover{
    border-bottom: 3px solid#fff;
    margin-bottom: -8px;
}
.nav-item{
    border-bottom: 3px solid #29b078;
    margin-bottom: -8px;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.border-none{
    border-left: 1px solid #ddd;
}
@media screen and (max-width: 782px){
    .border-none{
        border: none;
    }
}
.image-box{
    height: 65px;
}
.number-color{
    color: #42b683;
}
.headline{
    margin-bottom: 2rem;
    text-align: center;
}
.box-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.roundness{
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    line-height: 47px;
    text-align: center;
    color: #42b683;
}
.top {
    font-size: 14px;
    color: #999999;
    text-align: center;
    width: 75%;
}
.box-senver{
    width: 32px;
    height: 30px;
}
.card{
    flex-wrap: nowrap;
    border: none;
    background: #fafafa;
    padding-top: 15px;
    padding-bottom: 15px;
}
.distance{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #333;
}
.card-body{
    flex-direction: column;
    text-align: center;
    border: 1px solid#f6f6f6;
    background: #fff;
    color: #999999;
}
.rotundity-one{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.rotundity-one:hover{
    background: #29b078;
}
.cooperation{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.box1{
    display: flex;
    justify-content: center;
    height: 200px;
    background: #fff;
    align-items: center;
    margin: 10px 10px 10px 10px;
    border: 3px solid #fff;
    box-shadow: 1px 1px 3px #ddd;
}
.box1:hover{
    border: 3px solid #f6f6f6;
    box-shadow: 1px 1px 3px #ddd;
}
.box3 {
    display: flex;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 5px;
    justify-content: center;
}
.int{
    width: 5px;
    height: 5px;
    background: #999;
    border-radius: 50%;
    margin-right: 5px;
}
.text-color{
    color: #a1a1a1;
    border-bottom: 1px solid #fff;
}
.text-none{
    opacity: 0;
}
.text-color:hover{
    border-bottom: 1px solid #999;
}
.foot-color{
    background: #29b078;
}
.foot-text{
    color: #fff;
    margin-top: .8rem;
    margin-bottom: .8rem;
}
.foot-Text{
    margin-top: .8rem;
    opacity: 0;
    margin-bottom: .8rem;
}
.foot-TExt{
    margin-top: .8rem;
    margin-bottom: .8rem;
    color: white;
}
.foot-TEXt{
    margin-top: .8rem;
    margin-bottom: 5px;
    color: white;
}
@media screen and (max-width: 768px){
    .foot-Text{
        display: none;
    }
}
.foot-Color{
    background: #29b078;
    border-top: 2px solid #26a26f;;
}
.clearing-margin{
    margin-bottom: 0;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
}
.foot-colors:hover{
    border-bottom: 1px solid #fff;
}
.foot-Colors:hover{
    border-bottom: 1px solid #fff;
}
.foot-Colors{
    font-size: 15px;
}
.foot-colors{
    font-size: 15px;
}