bady{
    margin: 0;
}
 .boxs{
     width: 100px;
     height: 100px;
     margin-left: 15px;
    margin-top: 15px;
    float: left;
     background-color: orange;
}
 div{
     border: 0px;
     border-radius:25px;
 }