html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
}
.homeger-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #5fc0cd;
}
.homeger-two{
    margin-left: 10px;
}
.homeger-foul{
    width: 22px;
    height: 37px;
    margin-right: 10px;
}
.homeger-three{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.boxx2{
    width: 100%;
    height: 60px;
}
.background{
    width: 100%;
    height: 260px;
    background-image: url("../task-7/image/task4-2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.portrait{
    display: flex;
    padding-top: 110px;
    padding-left: 30px;
}
.name{
    padding-left: 30px;
    padding-top: 15px;
    font-size: 20px;
    color: #ffffff;
}
.age{
    padding-left: 20px;
    padding-top: 15px;
    color: #ffffff;
    font-size: 20px;
}
.location {
    display: flex;
    padding-top: 10px;
    padding-left: 30px;
}
.icon{
    display: flex;
    margin-top: -45px;
    padding-left: 155px;
}
.site{
    padding-left: 10px;
    color: #ffffff;
    font-size: 16px;
}
.skill{
    display: flex;
    padding-top: 10px;
    border-bottom: 1px solid#dddddd;
    height: 50px;
    margin-left: 10px;

}
.skill-one{
    height: 27px;
    border-left: 2px solid #5fc0cd;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
}
.condition{
    display: flex;
    margin-left: 25px;
    border-bottom: 1px solid #dddddd;
    height: 50px;
}
.seniority-six{
    padding-left: 27px;
    display: flex;
    border-bottom: 1px solid#dddddd;
    height: 40px;
    color: #999999;
}
.seniority-seven{
    min-width: 106px;
    height: 30px;
}
.seniority-eight{
    width: 260px;
}
.introduction-one{
    height: 40px;
    border-bottom: 1px solid#dddddd;
}
.introduction-two{
    width: 100px;
    margin-left: 25px;
    margin-top: 10px;
    border-left: 1px solid#5fc0cd;
    font-size: 20px;
    font-weight: 700;
}
.introduction-three{
    margin-left: 20px;
}
.introduction-foul{
    border-bottom: 1px solid#dddddd;
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.introduction-seven{
    margin-left: 15px;
}
.introduction-eight{
    margin-left: 45px;
    margin-top: -23px;
}
.introduction-nine{
    border-left: 1px solid#dddddd;
    margin-left: 90px;
    margin-top: -40px;
}
.introduction-ten{
    margin-left: 10px;
}
.introduction-ten1{
    margin-top: -23px;
    margin-left: 130px;
}
.seniority{
    height: 40px;
    border-bottom: 1px solid#dddddd;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.seniority-one{
    margin-left: 15px;
    color: #999999;
}
.seniority-two{
    border-left: 1px solid#dddddd;
    margin-left: 110px;
    margin-top: -20px;
}
.seniority-three{
    margin-left: 17px;
}
.seniority-foul{
    font-size: 20px;
    color: #e26163;
    margin-left: 15px;
    font-weight: 500;
}
.introduce-one{
    border-bottom: 1px solid#dddddd;
    height: 50px;
    color: #999999;
}
.introduce-two{
    padding-top: 10px;
    padding-left: 45px;
}
.introduce-three{
    margin-left: 10px;
}
.craftsmanship{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
    color: #999999;
}
.craftsmanship-one{
    padding-right: 30px;
    padding-left: 45px;
    white-space: nowrap;
}
.craftsmanship-two{
    border-left: 1px solid #dddddd;
    padding-left: 15px;
    margin-right: 10px;
}
.major{
    border-bottom: 1px solid #dddddd;
    padding-left: 20px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.major-one{
    border-left: 1px solid #5fc0cd;
    padding-left: 15px;
    font-size: 20px;
    color: black;
    font-weight: 700;
}
.vertical{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    margin-left: 20px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.vertical-one{
    display: flex;
    align-items: center;
}
.vertical-two{
    padding-left: 5px;
    border-right: 1px solid #dddddd;
    padding-right: 15px;
}
.vertical-three{
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.vertical-foul{
    padding-left: 5px;
}

.major-two {
    display: flex;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    margin-left: 20px;
    align-items: center;
}
.major-flve{
    padding-left: 10px;
}
.major-six{
    padding-left: 5px;
    padding-top: 5px;
}
.major-seven{
    color: #999999;
    padding-left: 10px;
    border-right: 1px solid #dddddd;
    padding-right: 20px;
}
.major-eight{
    padding-left: 30px;
}
.major-nine{
    font-size: 20px;
    color: #e26163;
    font-weight: 500;
    padding-left: 30px;
}
.major-ten{
    border-bottom: 1px solid #dddddd;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 80px;
}
.introduce-six{
    padding-left: 25px;
    padding-right: 25px;
    white-space: nowrap;
    color: #999999;
    border-right: 1px solid #dddddd;
}
.introduce-seven{
    padding-left: 30px;
}
.page-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.leave-words{
    width: 45%;
    text-align: center;
    line-height: 300%;
    background-color: #ffffff;
    border-left: 1px solid #5fc0cd;
    border-right: 1px solid #5fc0cd;
    border-top: 1px solid #5fc0cd;
    border-bottom: 1px solid #5fc0cd;
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;
}
.word{
    color: #5fc0cd;
}
.phone{
    width: 45%;
    text-align: center;
    line-height: 300%;
    background-color: #5fc0cd;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
}
.word-one{
    color: white;
}
a{
        text-decoration: none;
}
