html {
    width: 100%;
    height: 130%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 60px;
}
.top{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #5fc0cd;
}
.top1{
    width: 50vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #55a8b3;
    margin-top: 5px;
    margin-left: 24%;
    border-radius: 10px;
}
.top2{
    width: 25vw;
    height: 50px;
    text-align: center;
    line-height: 240%;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
.top3{
    background-color: white;
    width: 25vw;
    height: 50px;
    text-align: center;
    line-height: 240%;
    color: #5fc0cd;
    font-size: 20px;
    border-radius: 10px;
}
.top4{
    position: fixed;
    right: 10px;
    top: 10px;
}
.boxx {
    width: 100%;
    height: 60px;
}

.dropbtn {
    background-color: white;
    color: #999999;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100%;
    height: 60px;
    left: 10px;
    background-image: url("../task-7/image/task5-2.png");
    background-position: 92%;
    background-repeat: no-repeat no-repeat;
}

.dropdown {
    width: 33.2vw;
    height: 60px;
    text-align: center;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: #999999;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fuji {
    display: flex;
    position: fixed;
}

.boxx1 {
    width: 100%;
    height: 60px;
}

.center {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

.center-six {
    padding-left: 15px;
    padding-top: 3px;
    color: #999999;
}

.center-one {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.center-two {
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid white;
    width: 40%;
    padding-left: 45px;
    color: black;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 10px;
}

.center-three {
    color: red;
    font-size: 20px;
    margin-right: 35px;
    margin-top: 13px;
    display: inline-flex;
}

.center-four {
    display: flex;
    padding-left: 10px;
    border-bottom: 1px solid #dddddd;
    height: 40px;
    margin-top: -15px;
}

.center-seven {
    padding-left: 15px;
    color: #999999;
}

.center-flve {
    width: 20px;
    height: 20px;
}

.center-eight {
    padding-left: 10px;
    margin-top: -3px;
}

.below {
    height: 80px;
    width: 100%;
    background: #faf8fb;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

.below1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #5fc0cd;
    margin-top: 5px;
}

.below2 {
    margin-left: 5px;
    margin-bottom: 8px;
}

.below3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: #5fc0cd;
    border-radius: 50%;
    margin-top: 6px;
}

.below4 {
    width: 30px;
    height: 30px;

}

.below5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
}

.below6 {
    margin-left: 5px;
    margin-bottom: 10px;
    color: #999999;
}