html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;;
    background-color:#eff0f4;
}
.aa1{
    position: absolute;
    top: 10px;
    left: 8px;
    color: white;
}
.aa3{
    color: white;
    position: absolute;
    right: 8px;
    top: 10px;
}
.aa2{
    color: white;
    background-color: #5fc0cd;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 1.3rem;
    line-height: 170%;
}
.aa4{
    margin-top: 20px;
    padding: 8px;
    background-color: white;
}
.aa5{
    margin-top: -48px;
    margin-left: 50px;
}
input{
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    height: 2rem;
    outline: none;
    background-color: white;
    /*width: 100%;*/
}
.aa6{
    margin: 10px 0;
    width: 100%;
    background: #fff;
}
.aaa1{
    margin: 0 10px;
    vertical-align: middle;
}

.aa7{
    margin-top: -48px;
    margin-left: 50px;
}
.aa8{
    text-align: center;
    line-height: 200%;
    background-color: #5fc0cd;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    color: white;
    font-size: 1.5rem;
}
.aa9{
    position: absolute;
    right: 10px;
    top: 280px;
    color: #5fc0cd;
    font-size: 1rem;
}
